<%- include('header.ejs') %>

<div class="container">
  <div class="container pt-5">
    <p>Bienvenido <%= session.userId %></p>

    <div class="row">
      <% const selectedTags = Array.isArray(query?.tag) ? query.tag : query?.tag
      ? [query.tag] : []; %>
      <!-- Añadido para manejar múltiples tags -->
      <form method="GET" class="col-md-4 order-md-1 col-lg-3 sidebar-filter">
        <!-- FORMULARIO DE FILTROS -->

        <h4>FILTRAR POR:</h4>

        <!-- FILTRO: NOMBRE -->
        <h6 class="text-uppercase mt-5 mb-3 font-weight-bold">
          Nombre del producto
        </h6>
        <div class="input-group input-group-sm mb-3">
          <input
            type="text"
            name="name"
            value="<%= typeof query?.name !== 'undefined' ? query.name : '' %>"
            class="form-control"
            aria-label="Small"
            aria-describedby="inputGroup-sizing-sm"
          />
        </div>

        <!-- FILTRO: TAGS -->
        <h6 class="text-uppercase font-weight-bold mb-3">TAG</h6>

        <div class="mt-2 mb-2 pl-2">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" name="tag[]" value="work"
            class="custom-control-input" id="category-1" <%=
            selectedTags.includes('work') ? 'checked' : '' %> />
            <label class="custom-control-label" for="category-1">Work</label>
          </div>
        </div>

        <div class="mt-2 mb-2 pl-2">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" name="tag[]" value="lifestyle"
            class="custom-control-input" id="category-2" <%=
            selectedTags.includes('lifestyle') ? 'checked' : '' %> />
            <label class="custom-control-label" for="category-2"
              >Lifestyle</label
            >
          </div>
        </div>

        <div class="mt-2 mb-2 pl-2">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" name="tag[]" value="motor"
            class="custom-control-input" id="category-3" <%=
            selectedTags.includes('motor') ? 'checked' : '' %> />
            <label class="custom-control-label" for="category-3">Motor</label>
          </div>
        </div>

        <div class="mt-2 mb-2 pl-2">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" name="tag[]" value="mobile"
            class="custom-control-input" id="category-4" <%=
            selectedTags.includes('mobile') ? 'checked' : '' %> />
            <label class="custom-control-label" for="category-4">Mobile</label>
          </div>
        </div>

        <!-- FILTRO: PRECIO -->
        <h6 class="text-uppercase mt-5 mb-3 font-weight-bold">Precio</h6>
        <div class="price-filter-control">
          <input
            type="number"
            name="min"
            value="<%= typeof query?.min !== 'undefined' ? query.min : '' %>"
            class="form-control w-50 pull-left mb-2"
            placeholder="Min"
          />
          <input
            type="number"
            name="max"
            value="<%= typeof query?.max !== 'undefined' ? query.max : '' %>"
            class="form-control w-50 pull-right"
            placeholder="Max"
          />
        </div>

        <div class="mt-4 mb-5"></div>
        <button type="submit" class="btn btn-lg btn-block btn-primary mb-5">
          Mostrar Resultados
        </button>
      </form>
      <!-- FIN FORMULARIO -->

      <% if (!session.userId) { %>
      <p>Para ver el contenido debes hacer <a href="/login">login</a></p>
      <% } %> <% if (session.userId) { %>
      <div class="col-md-8 order-md-2 col-lg-9">
        <div class="container-fluid">
          <section>
            <div class="container mt-3">
              <div class="row">
                <% if (products.length === 0) { %>
                <p>No tienes productos creados aún.</p>
                <% } else { %> <% products.forEach(product => { %>
                <div class="col-md-12 col-xl-12">
                  <div class="card shadow-0 border rounded-3">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                          <div
                            class="bg-image hover-zoom ripple rounded ripple-surface"
                          >
                            <img
                              src="<%= product.image %>"
                              class="img-fluid mx-auto d-block"
                              alt="<%= product.product %>"
                            />
                            <a href="#">
                              <div class="hover-overlay">
                                <div
                                  class="mask"
                                  style="
                                    background-color: rgba(253, 253, 253, 0.15);
                                  "
                                ></div>
                              </div>
                            </a>
                          </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-6">
                          <h5><%= product.product %></h5>
                          <p class="text-truncate mb-4 mb-md-0">
                            <% product.tags.forEach(tag => { %>
                            <span class="badge bg-primary"
                              ><%= tag.tagname %></span
                            >
                            <% }) %>
                          </p>
                        </div>
                        <div
                          class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start"
                        >
                          <div class="d-flex flex-row align-items-center mb-1">
                            <h4 class="mb-1 me-1">$<%= product.price %></h4>
                          </div>
                          <h6 class="text-success">Oferta Especial</h6>
                          <div class="d-flex flex-column mt-5">
                            <a
                              href="/delete/<%= product._id %>"
                              class="btn btn-danger"
                              >Borrar</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <% }) %> <% } %>
              </div>
            </div>
          </section>
          <div class="row sorting mb-5 mt-5"></div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>

<%- include('footer.ejs') %>
